h2{
    color: yellowgreen;
}
p {
    font-family: "Monsieur La Doulaise", cursive;
    color: blue;
    text-align: center;
    text-spacing-trim: normal;
    font-size: 20px;
    
}
*{
    margin: 0;
    padding: 0;
    background-color: black;
}