.container{
    background-color: yellow;
    margin: 40px;
    border: 10px solid black;
    padding: 200px
    
}

h1{
    color: blue;
    text-align: center;
}
body{
    background-color: black;
    background-image: url(https://ik.imagekit.io/cuo7rig7fl/default-image.jpg?updatedAt=1768578789009);
    opacity: 0.5;
}
